<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('../partials/header') %>

    <div id="bgGrad"></div>


    <main>
        <div class="hero">
            <div class="gradLeft"></div>
            <div class="gradBottom"></div>
            <div class="hero-container">
                <h1 class="welcomeTo">Welcome to:</h1>
                <div class="divLine"></div>
                <p class="sop">shit osu! players</p>
                <div class="textBox">
                    <p>The osu! community</p>
                </div>
            </div>
            <div class="scrollDown">
                <p>FIRE IN THE HOLE</p>
                <p>↓</p>
            </div>
            <video autoplay muted loop>
                <source src="/assets/videos/hy_gameplay.mp4" type="video/mp4">
            </video>
        </div>

        <div class="about-us">

            <div class="twitterWidget">
                <a id="twitterTimeline" class="twitter-timeline" data-lang="en" data-width="30vw" data-dnt="true"
                    data-theme="dark" href="https://twitter.com/shitosuplayers?ref_src=twsrc%5Etfw">Tweets by
                    shitosuplayers</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="about-us-container">
                <div class="divLine"></div>
                <h1>about us</h1>
                <p>Welcome to sop! We're a diverse gaming community based in Norway, originally founded in July 2022.
                    While we are primarily based around osu!, we also have interests in all varieties of games.<br>
                    <br>
                    At sop!, our goal is simple: to provide a welcoming space where gamers can connect, compete, and
                    have a great time together. Whether you're a casual player or a sweat, there's a place for
                    you here.<br>
                    <br>
                    Join us on Discord to meet new friends, participate in our events, and be part of our growing
                    community. From small events, to massive tournaments, there's always something exciting happening at
                    sop!<br>
                    <br>
                    Thank you for being a part of sop <3</p>
            </div>
        </div>

        <div class="insight">

            <div class="bgContainer">
                <img class="bg" id="sopMeetupBg" src="/assets/images/opera.jpg">
                <video class="bg" id="sopEventsBg" src="/assets/videos/knockout.mp4" autoplay loop muted></video>
            </div>

            <div class="section sopMeetup">
                <div class="image-container">
                    <div class="imageTag">sop!Meetup 2023 </div>
                    <img src="/assets/images/sopMeetup2023.jpg">
                </div>
                <p>We plan yearly sop! meetups to get to know each other better. So if you have time, we would love for
                    you to join us.</p>
            </div>

            <div class="section sopEvents">
                <p>We frequently host events such as osu Tournaments, sop!Knockout and much more.
                    Everyone are welcomed to participate.</p>
                <div class="image-container">
                    <div class="imageTag">Regular events</div>
                    <video src="/assets/videos/knockout.mp4" autoplay muted loop></video>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>

    <script src="/js/script.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
