<footer>
    <div class="footer-content">
        <div class="footer-branding">
            <img src="/assets/images/logos/sopWhiteOutline.png" alt="">
            <h1>shit osu! players</h1>
        </div>
        <p>shit osu! players © <%= currentYear %> All Rights Reserved</p>
        <div class="socials">
            <a class="discord" href="" target="_blank"><i class='bx bxl-discord-alt'></i></a>
            <a class="twitter" href="" target="_blank"><i class='bx bxl-twitter'></i></a>
            <a class="instagram" href="" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
            <a class="youtube" href="" target="_blank"><i class='bx bxl-youtube'></i></a>
        </div>
    </div>

    <div class="footer-content">
        <h4>Information</h4>
        <li><a href="">coming soon</a></li>
        <li><a href="">coming soon</a></li>
        <li><a href="">coming soon</a></li>
    </div>

    <div class="footer-content">
        <h4>Upcoming Events</h4>
        <li><a href="">sop!Meetup 2024</a></li>
        <li><a href=""></a></li>
    </div>

    <div class="footer-content">
        <h4>Connect with Us</h4>
        <li><a href="mailto:<%= email %>" target="_blank">Email: <%= email %></a></li>
        <li><a href="" target="_blank">Join Our Community</a></li>
    </div>
</footer>